*{
    box-sizing: border-box;
}
nav{
    border: 1px solid rgba(0,0,0,.1);
    padding: 20px;
    background-color: white;
    
}
.row{
    width: 100%;
    overflow: hidden;
}
.infor{
    right: 10px;
    max-height: 60px;
    margin-bottom: 0 !important;
    border: 1px solid rgba(0,0,0,.1);
    padding : 5px;
    border-radius: 10px;
}
.infor p, .infor a{
    margin-bottom: 0;
    margin: auto 10px;
    width: 50%;
}
.infor img{
    width: 50px ;
    height: 50px ;
    border-radius: 100px;
}
.search{
    width : 80%;
}
.search input{
    height: 46px;
    width: 40% !important;
    margin: auto;
}
/* .left{
    min-width: 100px;
} */
.right{
    min-width: 100px;
}
.new svg{
    font-size: 30px;
    margin-bottom: 0;
    margin: auto 10px;
    width: 30%;
}
.new{
    font-family:"Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    cursor: pointer;
    width: 140px;
    height: 60px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 50px;
    color: #3c4043;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: .15px;
    line-height: 22px;
    box-shadow: 3px 3px 5px #aaaaaa;
    margin: 10px;
}
.new:hover{
    box-shadow: 3px 3px 10px #aaaaaa;
}
.new p{
    width: 70%;
    margin-bottom: 0;
    margin: auto 10px;
    width: 50%;
}
@media only screen and (max-width: 768px) {
    .search{
        width: 100%;
    }
    .search input {
        width: 100% !important;
        margin: auto;
    }
}
.recent,.my-drive, .trash, .stored{
    font-family:"Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    cursor: pointer;
    width: 240px;
    height: 60px;
    color: #3c4043;
    font-weight: 550;
    font-size: 16px;
    letter-spacing: .15px;
    line-height: 22px;
    margin: 10px;
}
.recent svg, .my-drive svg, .trash svg, .stored svg{
    font-size: 30px;
    margin-bottom: 0;
    margin: auto 10px;
    width: 30%;
}
.recent p, .my-drive p, .trash p, .stored>p{
    width: 70%;
    margin-bottom: 0;
    margin: auto 10px;
    width: 50%;
}
.folder{
    width: 10px !important;
    height: 50px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
}
.folder p{
    width: 70%;
    margin-bottom: 0;
    margin: auto 10px;
    width: 50%;
}
.file-item{
    margin-bottom: 15px;
    
}
.file-item .card{
    border: none;
}
#left{
    position: relative ;
    margin-top: 30px;
}
.linkfile{
    color: black !important;
}
#left{
    position: sticky;
    top : 80px;
    height: 500px;
}
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

.custom-menu li:hover {
    background-color: #DEF;
}
.custom-menu a{
    color :black;
    text-decoration: none;
}
a{
    color: black;  
}
a:hover{
    color: black;
    text-decoration: none;
}
div.folder:hover, div.card:hover {
    cursor: pointer;
}
.recent:hover, .trash:hover, .my-drive:hover {
    background-color: #F5F5F5;
    border-bottom: 10px;
}